# -----------------------------
# Core Framework
# -----------------------------
fastapi==0.111.0
uvicorn[standard]==0.30.1

# -----------------------------
# Database & ORM
# -----------------------------
sqlalchemy==2.0.31

pymysql==1.1.1

# -----------------------------
# Auth & Security
# -----------------------------

pyjwt


# -----------------------------
# Firebase (OTP / Auth)
# -----------------------------
firebase-admin==6.5.0

# -----------------------------
# Redis (OTP, caching, blacklist)
# -----------------------------
redis==5.0.7

# -----------------------------
# Environment & Config
# -----------------------------
python-dotenv==1.0.1

# -----------------------------
# HTTP Client
# -----------------------------
httpx==0.27.0
requests==2.32.3

# -----------------------------
# Validation
# -----------------------------
pydantic==2.8.2
pydantic-settings==2.4.0

# -----------------------------
# Utilities
# -----------------------------

phonenumbers
